@media screen and (max-width: 800px) and (orientation: portrait) {
  
  .grid-container {
    color: rgba(248, 245, 245, 0.89);
    margin: auto;
    display: grid;
    align-content: center;
    grid-template-columns: auto;
    grid-gap: 0em;

  }


}
